body {
  background-color: #3ca0b7;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todo-container {
  background-color: #4db8d4;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h1 {
  color: white;
  margin-bottom: 10px;
}

.hint {
  color: #f8f8f8;
  font-size: 13px;
  margin-bottom: 20px;
}

.input-area {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#taskInput {
  width: 80%;
  padding: 8px;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
}

#addBtn {
  width: 40px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 0 5px 5px 0;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

#addBtn:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #6fd18e;
  margin: 8px 0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}

li.completed {
  text-decoration: line-through;
  background-color: #bcbcbc;
}

li button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

li button:hover {
  color: red;
}
